.button {
  padding: 2.1rem 5.7rem;
  background-color: $orange;
  border: none;
  font-weight: 400;
  font-size: 1.9rem;
  cursor: pointer;
  border-radius: 4px;
  width: fit-content;
  transition: all 0.3s;
  color: $black;

  &:hover {
    transform: scale(1.02);
  }
}

.transparent {
  background-color: transparent;
  border: 1px solid $orange;
}
