.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100%;
  color: $black;

  .button {
    margin-top: 10rem;

    @include breakpoint(tablet) {
      margin-top: 5rem;
      width: 100%;
    }

    @include breakpoint(mobile) {
      padding: 1.2rem;
      margin-top: 2rem;
    }
  }

  .subtext {
    font-size: 1.2rem;
    max-width: 48rem;
  }
}
