.main {
  padding-left: 7.5rem;
  padding-top: 15.7rem;
  padding-bottom: 10rem;
  background-image: url('./assets/bg-main.png');
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  max-width: 1920px;
  margin-bottom: 16rem;

  &::after {
    z-index: 20;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 40rem;
    height: 100%;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.3), transparent);
    pointer-events: none;
  }
  .left_section {
    max-width: 58rem;

    .title {
      font-size: 4rem;
      font-weight: 500;
      margin-bottom: 27px;
    }

    .list {
      display: flex;
      flex-direction: column;
      gap: 2.3rem;
      font-size: 15px;
      margin-bottom: 5.9rem;
      padding-left: 2rem;

      .list_inner {
        list-style: disc;
        list-style-position: outside;
      }
    }
  }
}
