.swiper_container {
  max-width: 90rem;
  max-height: 39.9rem;
  position: relative;

  @include breakpoint(laptop) {
    max-width: 60rem;
  }

  @include breakpoint(desktop) {
    max-width: 44rem;
  }

  @include breakpoint(tablet) {
    max-width: 32rem;
  }

  @include breakpoint(mobile) {
    max-width: 100%;
  }

  .title {
    margin-bottom: 2.2rem;
  }

  .button_prev {
    position: absolute;
    left: -5%;
    top: 40%;
    transform: translateY(-50%);
    width: 6.5rem;
    height: 6.5rem;
    border-radius: 100%;
    border: none;
    cursor: pointer;
    background-color: white;
    background-image: url('./assets/arrow-left.svg');
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 10;

    @include breakpoint(desktop) {
      width: 4.5rem;
      height: 4.5rem;
      background-size: 50%;
      top: 35%;
    }

    @include breakpoint(mobile) {
      display: none;
    }
  }
}
