$primary-color: #64ff00;
$gray-opacity: rgba(196, 196, 196, 0.22);
$bg-gray: #c4c4c4;
$gray-light: #f3f3f3;
$gray: #979797;
$black: #000000;
$black-opacity: rgba(0, 0, 0, 0.8);
$white: #ffffff;
$blue: #0a142f;
$orange: #ffcc1b;
