@use '../styles/mixins' as *;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

input {
  border: none;
  outline: none;
}

li {
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  color: white;
  font-family: var(--font-poppins);
}

.swiper-wrapper {
  transition-timing-function: linear !important;
}
