.title {
  font-size: 5rem;
  color: black;
  margin-bottom: 5rem;

  @include breakpoint(tablet) {
    font-size: 4rem;
  }

  @include breakpoint(mobile) {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
}

.center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}
