.section {
  background-color: $gray-light;
  border-radius: 1.2rem;
  display: flex;
  justify-content: space-between;
  overflow: hidden;

  .form {
    padding: 4rem 0 0 5rem;
    .title {
      font-size: 4rem;

      .color_text {
        color: $orange;
      }
    }
  }
}
