.top {
  display: flex;
  align-items: flex-start;
  gap: 2rem;

  .title {
    max-width: 40rem;
    width: 100%;
    border-right: 1px solid $black;
  }

  .button {
    text-wrap: nowrap;
    font-size: 1.6rem;
  }
}

.navigation {
  display: flex;
  color: $black;

  .slide_number {
  }
}
