.subsection {
  display: flex;
  gap: 5rem;
  align-items: center;

  @include breakpoint(mobile) {
    gap: 2rem;
  }

  .button {
    font-size: 1.6rem;
    padding: 1.7rem 4.3rem;
    font-weight: 400;

    @include breakpoint(tablet) {
      font-size: 1.4rem;
      padding: 1.2rem 2.6rem;
    }

    @include breakpoint(mobile) {
      font-size: 1.4rem;
      padding: 1rem;
      text-wrap: nowrap;
    }
  }

  .text {
    color: black;
    opacity: 50%;
    font-weight: 400;
    font-size: 1.6rem;

    @include breakpoint(mobile) {
      font-size: 1.2rem;
    }
  }
}
