.inner {
  display: flex;
  justify-content: space-between;

  .container_text {
    max-width: 60rem;
    flex: 1;

    .grayBlock {
      color: black;
      font-size: 2rem;
      background-color: $gray-opacity;
      padding: 3rem;
      border-radius: 1.2rem;
    }
  }

  .img {
    position: absolute;
    right: 0;
    max-width: 72.9rem;
    height: auto;
  }
}
