.inner {
  display: flex;
  justify-content: space-between;

  @include breakpoint(desktop) {
    gap: 1.5rem;
    justify-content: center;
  }

  .container_text {
    max-width: 60rem;
    flex: 1;

    .img_mob {
      display: none;

      @include breakpoint(tablet) {
        display: block;
        width: 100%;
        height: auto;
        margin-bottom: 3rem;
      }
    }

    .list {
      height: 48rem;

      @include breakpoint(desktop) {
        height: 35rem;
      }

      @include breakpoint(mobile) {
        height: 28rem;
      }
    }

    .grayBlock {
      color: black;
      font-size: 2rem;
      background-color: $gray-opacity;
      padding: 3rem;
      border-radius: 1.2rem;

      @include breakpoint(desktop) {
        font-size: 1.5rem;
        padding: 2.5rem;
      }
    }
  }

  .img {
    position: absolute;
    right: 0;
    max-width: 55rem;
    height: auto;
    width: 100%;
    height: auto;

    @include breakpoint(desktop) {
      flex: 1;
      position: relative;
      border-radius: 0.8rem;
      max-width: 45rem;
      height: auto;
    }

    @include breakpoint(tablet) {
      display: none;
    }
  }
}
