.slide {
  display: flex;
  background-color: $gray-opacity;
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;

  @include breakpoint(desktop) {
    flex-direction: column;
  }

  .grayBlock {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: $gray-opacity;
    width: 9rem;
    height: 49.3rem;
    gap: 1rem;
    cursor: pointer;
    color: black;
    -webkit-user-select: none;
    user-select: none;

    @include breakpoint(desktop) {
      width: 100%;
      height: 9rem;
      flex-direction: row-reverse;
      justify-content: flex-end;
      gap: 8rem;
      padding: 0 2rem;
    }

    @include breakpoint(mobile) {
      gap: 4rem;
      height: 6rem;
    }

    .title {
      font-size: 1.6rem;
      writing-mode: sideways-lr;
      text-transform: uppercase;

      @include breakpoint(desktop) {
        writing-mode: horizontal-tb;
        text-wrap: nowrap;
      }

      @include breakpoint(mobile) {
        font-size: 1.2rem;
      }
    }

    .line {
      height: 6.4rem;
      background: black;
      width: 1px;

      @include breakpoint(desktop) {
        transform: rotate(90deg);
      }
    }

    .number {
      font-size: 4rem;

      @include breakpoint(desktop) {
        font-size: 3.2rem;
      }
    }
  }

  .inner {
    display: flex;
    position: relative;
    height: 49.3rem;
    -webkit-transition: width 1s ease-out;
    transition: width 1s ease-out;
    overflow: hidden;
    width: 0;

    @include breakpoint(desktop) {
      height: 0;
      width: 100% !important;
      -webkit-transition: height 1s ease-out;
      transition: height 1s ease-out;
    }

    .img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }

    .info {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 1rem;
      left: 2rem;
      bottom: 2rem;
      pointer-events: none;

      .description {
        font-size: 1.5rem;
        font-weight: 300;
        -webkit-transition: all 1s ease;
        transition: all 1s ease;
        opacity: 0;
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);

        @include breakpoint(mobile) {
          font-size: 1.4rem;
        }
      }

      .title {
        display: flex;
        align-items: center;
        gap: 1rem;
        font-size: 3rem;
        -webkit-transition: all 1s ease;
        transition: all 1s ease;
        opacity: 0;
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);

        @include breakpoint(mobile) {
          font-size: 1.6rem;
        }

        .number {
          font-size: 4rem;
          -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
          -webkit-transition: all 1s;
          transition: all 1s;

          @include breakpoint(desktop) {
            font-size: 3.2rem;
          }
        }

        .line {
          -webkit-transition: all 1s;
          transition: all 1s;
          width: 6.4rem;
          background-color: white;
          height: 1px;
          -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
        }
      }
    }

    &.active {
      width: 764px;

      @include breakpoint(desktop) {
        height: 300px;
      }

      .info {
        .description {
          opacity: 1;
          -webkit-transform: translateY(0);
          transform: translateY(0);
        }

        .title {
          opacity: 1;
          -webkit-transform: translateY(0);
          transform: translateY(0);

          .number {
            -webkit-transform: translateY(0);
            transform: translateY(0);
          }

          .line {
            -webkit-transform: translateY(0);
            transform: translateY(0);
          }
        }
      }
    }

    &.notactive {
      width: 0;

      @include breakpoint(desktop) {
        height: 0;
      }
    }
  }
}
