@import '@/styles/_variables.scss';

.slide {
  display: flex;
  background-color: gray-opacity;

  .grayBlock {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: $gray-opacity;
    width: 9rem;
    height: 49.3rem;
    gap: 1rem;
    cursor: pointer;

    .title {
      font-size: 1.6rem;
      writing-mode: sideways-lr;
      text-transform: uppercase;
    }

    .line {
      height: 6.4rem;
      background: white;
      width: 1px;
    }

    .number {
      font-size: 4rem;
    }
  }

  .inner {
    display: flex;
    position: relative;
    max-height: 493px;
    transition: 1s all;

    .img {
      width: 100%;
      height: auto;
      object-fit: cover;
      object-position: center;
    }

    .info {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 1rem;
      left: 2rem;
      bottom: 2rem;

      .title {
        display: flex;
        align-items: center;
        gap: 1rem;

        .line {
          width: 6.4rem;
          background-color: white;
          height: 1px;
        }
      }
    }
  }
}

.active {
  max-width: 493px;
  width: 100%;
  opacity: 1;
}

.notactive {
  max-width: 0px;
  width: 0%;
  opacity: 0;
}
