.swiper_catalog {
  position: relative;
  margin-bottom: 10rem;

  @include breakpoint(desktop) {
    margin-bottom: 5rem;
  }

  @include breakpoint(mobile) {
    margin-bottom: 3rem;
  }

  .buttons {
    position: absolute;
    right: 1%;
    top: -10%;
    display: flex;
    gap: 3rem;

    @include breakpoint(tablet) {
      top: -15%;
    }
    @include breakpoint(mobile) {
      top: -10%;
    }

    .button_prev,
    .button_next {
      background: url('./assets/arrow.svg');
      width: 56px;
      height: 35px;
      background-repeat: no-repeat;
      background-position: center;
      background-color: transparent;
      background-size: contain;
      border: none;
      cursor: pointer;

      @include breakpoint(tablet) {
        width: 42px;
      }

      @include breakpoint(mobile) {
        width: 27px;
      }
    }

    .button_prev {
      transform: rotate(180deg);
    }
  }
}
